<div class="container">
  <div class="row">
    <div class="col-4">
      <select (click)="getProductVal($event)">
        <option value="Default">Select Product</option>
        <option value="Laptop">Laptop</option>
        <option value="Washing Machine">Washing Machine</option>
        <option value="Television">Television</option>
        <option value="Mobile">Mobile</option>
      </select>
    </div>

    <div class="col-10" [ngSwitch]="selectedProduct">
      <h3 class="text-success" *ngSwitchDefault>Please Select Product</h3>
      <h3 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h3>
      <h3 class="text-success" *ngSwitchCase="'Washing Machine'">
        Washing Machine
      </h3>
      <h3 class="text-success" *ngSwitchCase="'Television'">Television</h3>
      <h3 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h3>
    </div>
  </div>
</div>
