<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 my-4">
      <div class="card">
        <img
          src="../../../assets/ngFor-Images/washing-machine.jpeg"
          class="card-img-top"
          alt="Washing Machine Image"
        />
        <div class="card-body">
          <h5 class="card-title">Washing Machine</h5>
          <p class="card-text">Some quick example text to build the card.</p>
          <a routerLink="laptop" class="btn btn-success">Know More</a>
        </div>
      </div>
    </div>
  </div>
</div>
