<div class="container my-3">
  <div class="page-area">
    <div class="text-center">
      <h3 class="my-3">Products</h3>
      <p class="my-2">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis ad,
        recusandae provident nemo voluptatem amet ex ratione repellendus saepe.
        Quos ab qui nostrum. Sapiente nobis ex, nulla officiis veritatis fugiat.
      </p>
    </div>

    <hr class="mb-3" />

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="card text-center" appTestDirective>
          <img
            src="../../../assets/ngFor-Images/laptop.jpg"
            class="card-img-top"
            alt="Laptop Image"
          />
          <div class="card-body">
            <h5 class="card-title">Laptop</h5>
            <p class="card-text">Some quick example text to build the card.</p>
            <a routerLink="laptop" class="btn btn-success">Know More</a>
          </div>
        </div>

        <div class="card text-center" appTestDirective>
          <img
            src="../../../assets/ngFor-Images/mobile.jpeg"
            class="card-img-top"
            style="height: 237px"
            alt="Laptop Image"
          />
          <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <p class="card-text">Some quick example text to build the card.</p>
            <a routerLink="mobile" class="btn btn-success">Know More</a>
          </div>
        </div>

        <div class="card text-center">
          <img
            src="../../../assets/ngFor-Images/tv.jpeg"
            class="card-img-top"
            alt="Laptop Image"
          />
          <div class="card-body">
            <h5 class="card-title">Television</h5>
            <p class="card-text">Some quick example text to build the card.</p>
            <a routerLink="television" class="btn btn-success">Know More</a>
          </div>
        </div>

        <div class="card text-center">
          <img
            src="../../../assets/ngFor-Images/washing-machine.jpeg"
            class="card-img-top"
            alt="Laptop Image"
          />
          <div class="card-body">
            <h5 class="card-title">Washing Machine</h5>
            <p class="card-text">Some quick example text to build the card.</p>
            <a routerLink="washing-machine" class="btn btn-success"
              >Know More</a
            >
          </div>
        </div>
      </div>

      <div class="col-lg-4"></div>
    </div>
  </div>
</div>
