<div class="text-center">
  <p class="text-center">
    User Name <strong>{{ userName }}</strong>
  </p>
  <form class="row d-flex justify-content-center">
    <div class="col-auto px-0">
      <label class="visually-hidden" for="autoSizingInput">Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Update Name"
        #uname
      />
    </div>

    <div class="col-auto px-0">
      <button class="btn btn-primary" (click)="updateUserName(uname)">
        Update
      </button>
    </div>
  </form>
</div>
