<div class="container my-3" style="background-color: aquamarine">
  <!-- <div class="text-center py-3">
    <h3 class="my-2">Home</h3>
    <p class="my-2">
      Maruti Engineers, is a leading Aluminium Solar Module Mounting Structure
      Manufacturer. We provide high-quality Solar Mounting Sructures which can
      be applied in standard residential and commercial projects.
    </p>

    <p class="my-2">
      With an aim to be a leader in the market, we are serving our respected
      clients by manufacturing and supplying Solar Module Mounting Structure as
      per their specific requirements. Our customized Solar Structures are
      widely used in solar plants to support solar PV panels.
    </p>

    <p class="my-2">
      We have a high structure and structural component manufacturing capacity.
      We also have an in-house tool room that caters to different projects with
      various sectional requirements. The Solar Module Mounting Structure
      offered by us is highly optimized and cost effective.
    </p>

    <br />

    <button type="button" class="btn btn-primary">Know More</button>
  </div> -->

  <div class="text-center py-3">
    <h3 class="my-2">{{ "home.title" | translate }}</h3>
    <p class="my-2">
      {{ "home.p1" | translate }}
    </p>

    <p class="my-2">
      {{ "home.p2" | translate }}
    </p>

    <p class="my-2">
      {{ "home.p3" | translate }}
    </p>

    <br />

    <button type="button" class="btn btn-primary">
      {{ "home.btn" | translate }}
    </button>
  </div>
</div>
