<div class="container my-3 p-4" style="background-color: aquamarine">
  <h3 class="text-center my-2">Subject</h3>

  <hr />

  <div
    #box
    class="col-lg-8 border border-secondary rounded mx-auto text-center py-3 my-3"
  >
    <h1>
      User Name is <strong class="text-success">{{ userName }} </strong>
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-6 bg-light py-3">
      <app-view-child></app-view-child>
    </div>

    <div class="col-lg-6">
      <button class="btn btn-success" (click)="changeChildProperty()">
        Change Child Property
      </button>
      &nbsp;
      <button class="btn btn-warning" (click)="callChildMethod()">
        Change Child Method
      </button>
    </div>

    <!-- <div class="col-lg-5 p-3 my-3 bg-light">
      <app-comp1></app-comp1>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-secondary">
      <app-comp2></app-comp2>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-success">
      <app-comp3></app-comp3>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-warning">
      <app-comp4></app-comp4>
    </div> -->
  </div>
</div>
