<div class="container my-3 p-4" style="background-color: aquamarine">
  <div class="row py-3">
    <h3 class="text-center my-2">Subject</h3>
  </div>
  <hr />

  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 border border-secondary rounded text-center py-3 my-3">
      <h1>
        User Name is <strong class="text-success">{{ userName }}</strong>
      </h1>
    </div>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-5 p-3 my-3 bg-light">
      <app-comp1></app-comp1>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-secondary">
      <app-comp2></app-comp2>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-success">
      <app-comp3></app-comp3>
    </div>

    <div class="col-lg-5 p-3 my-3 bg-warning">
      <app-comp4></app-comp4>
    </div>
  </div>
</div>
